<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <joint name="gps_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gps_link"/>
    <!-- LiDAR mounted at ? above base_link; likely needs to be edited later -->
    <origin xyz="-0.70 -0.21 0.314" rpy="0 0 0"/>
  </joint>

  <link name="gps_link">
    <visual>
      <!-- is the origin really 0 0 0? -->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
      <material name="gps_yellow">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
    <!-- not accurate inertial. rec is 0.001 for 0.1m box of 0.6kg. This thing is about half the size and lighter.-->
    <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0"
                 iyy="0.00001" iyz="0.0"
                 izz="0.00001" />
    </inertial>

  </link>

  <!-- no collision? just copied geo from visual, may need edits-->
  <collision>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
  </collision>

  <gazebo reference="gps_link">
  <sensor type="gps" name="gps_sensor">
    <always_on>true</always_on>
    <update_rate>10</update_rate>

    <plugin name="gazebo_ros_gps_sensor" filename="libgazebo_ros_gps_sensor.so">
      <topicName>/gps/fix</topicName>
      <frameName>gps_link</frameName>
    </plugin>
  </sensor>
</gazebo>

</robot>
