<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <!-- IMU mounted at ? above base_link; likely needs to be edited later -->
    <origin xyz="-0.45 -0.21 0.18" rpy="0 0 0"/>
  </joint>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
      <material name="imu_green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
    <!-- not accurate inertial. rec is 0.001 for 0.1m box of 0.6kg. This thing is about half the size and lighter.-->
    <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.00001" ixy="0.0" ixz="0.0"
                 iyy="0.00001" iyz="0.0"
                 izz="0.00001" />
    </inertial>

  </link>

  <!-- no collision? just copied geo from visual, may need edits-->
  <collision>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
  </collision>

  <gazebo reference="imu_link">
    <sensor type="imu" name="imu_sensor">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
  
      <plugin name="gazebo_ros_imu_sensor" filename="libgazebo_ros_imu_sensor.so">
        <topicName>/imu/data</topicName>
        <frameName>imu_link</frameName>
      </plugin>
    </sensor>
  </gazebo>

</robot>
