<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <!-- IMU mounted at ? above base_link; likely needs to be edited later -->
    <origin xyz="-0.45 -0.21 0.18" rpy="0 0 0"/>
  </joint>

  <link name="imu_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
      <material name="imu_green">
        <color rgba="0 1 0 1"/>
      </material>
    </visual>
  </link>

  <!-- no collision? just copied geo from visual, may need edits-->
  <collision>
      <geometry>
        <box size="0.05 0.05 0.02"/>
      </geometry>
  </collision>

</robot>
