?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ASIMOV">
    <!-- Include the robot base -->
    <xacro:include filename="ASIMOV_FINAL_v3.xacro" />
    
    <!-- Sensor integration -->
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="orbbec_depth_camera.xacro" />
    <xacro:include filename="imu.xacro" />
    <xacro:include filename="gps.xacro" />

</robot>
